{% extends 'new/full.html'%}
{% load crispy_forms_tags %}
{% block content %}
    <div class ="content_section">
        <form method = "POST">
            {% csrf_token %}
                
                <fieldset class="form-group">
                    {{form|crispy}}
                </fieldset>

                
    
            <div>

                <button class="btn btn-outline-info"type='submit'> Reset Password </button>

            </div>
        </form>
        
    </div>
{% endblock %}